/********** Template CSS **********/
:root {
    --primary: #00A1E2;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background-color: #f4f4f4;
    transition: 0.5s;
}

#content {
    height: 100%;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    color: #000000;
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}
.navbar-nav li:hover{
    background-color:rgba(255, 255, 255, 0.1);
}
.navbar-nav li.on{
    background-color:rgba(255, 255, 255, 0.1);
}
.clear{clear:both;}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* chart css */

@media screen and (min-height: 400px){
    .status {
        width: 18vh;
        height: 18vh;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 0px lightgrey;
        padding-top: 4.5vh;
        font-size: 4.5vh;
    }
    .status-info {
        width: 16vh;
        height: 16vh;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 0px lightgrey;
        padding-top: 5vh !important;
        font-size: 4.5vh !important;
        color: white;
    }
    .status-div {
        display: inline-grid;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .status-div p{
        font-size: 18px;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0 !important;
    }
    .status-div-info {
        display: inline-grid;
        margin: 1rem !important;
    }
    .status-div-info p{
        font-size: 20px;
        font-weight: bold;
        margin-top: 2rem;
    }
    .chart_div{
        width: 600px;
        height: 22vh;
    }
    .chart_test{
        width: 600px;
        height: 22vh;
    }
    .chart_btr{
        width: 70vw;
        height: 20vh;
        margin-top: 2rem;
    }
    .img-process{
        width: 29vh;
        margin-top: 2rem;
    }
/*    #login-drop{
        text-align: center;
        border-radius: 50%;
        line-height: 2rem;
        cursor: default;
    }
    #login-drop:hover div{
        display:block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }
    #login-drop div{
        display: none;
        text-align: center;
        background-color: #FFFFFF;
        padding: 20px;
        width: 400px;
        position: absolute;
        border: darkgray 1px solid;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -10px;
        color: black;
        font-size: 13px;
        height: 635px;
        top: 120%;
    }
    #login-drop div:before{
        position: absolute;
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#1E2021;
        right:7%;
        top:-12px;
    }*/

    #safety-line{
        right: 7%;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 2rem;
        cursor: default;
    }
    #safety-line:hover div{
        display:block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }
    #safety-line div{
        display: none;
        text-align: center;
        background-color: #FFFFFF;
        padding: 20px;
        width: 400px;
        position: absolute;
        border: darkgray 1px solid;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -10px;
        color: black;
        font-size: 13px;
        height: 13.5rem;
    }
    #safety-line div:before{
        position: absolute;
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#1E2021;
        right:7%;
        top:-12px;
    }
    #safety-line div table{
        border: #000 solid 1px !important;
        background-color: white;
        text-align: center;
        width: 100%;
        height: 140px !important;
        display: inline-table;
    }
    #safety-line div table tr {
        border: transparent 1px solid;
        font-size: small;
        font-style: normal;
    }
    #safety-line div table tr td {
        /*        border: darkgray solid 1px;*/
    }
    /*    .chart{
            height: 174px;
        }*/
}
@media screen and (min-height: 900px){
    .status {
        width: 18vh;
        height: 18vh;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 0px lightgrey;
        padding-top: 4.5vh;
        font-size: 4.5vh;
    }
    .status-info {
        width: 14vh;
        height: 14vh;
        border-radius: 50%;
        box-shadow: 0px 5px 10px 0px lightgrey;
        padding-top: 4.2vh !important;
        font-size: 4vh !important;
        color: white;
    }
    .status-div {
        display: inline-grid;
        margin-top: 3rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .status-div-info {
        display: inline-grid;
        margin : 1rem !important;
        margin-bottom: 1.5rem !important;
    }
    .status-div p{
        font-size: 22px;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0 !important;
    }
    .status-div-info p{
        font-size: 22px;
        font-weight: bold;
        margin-top: 2rem;
    }
    .chart_div{
        margin-top: 3.2rem;
        width: 800px;
        height: 22vh;
    }
    .chart_test{
        margin-top: 3.2rem;
        width: 800px;
        height: 22vh;
    }
    .chart_btr{
        width: 70vw;
        height: 25vh;
        margin-top: 3rem;
    }
    .img-process{
        width: 29vh;
        margin-top: 4rem;
    }
/*    #login-drop{
        text-align: center;
        border-radius: 50%;
        line-height: 2rem;
        cursor: default;
    }
    #login-drop:hover div{
        display:block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }
    #login-drop div{
        display: none;
        text-align: center;
        background-color: #FFFFFF;
        padding: 20px;
        width: 400px;
        position: absolute;
        border: darkgray 1px solid;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -10px;
        color: black;
        font-size: 13px;
        height: 850px;
        top: 120%;
    }
    #login-drop div:before{
        position: absolute;
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#1E2021;
        right:7%;
        top:-12px;
    }*/

    #safety-line{
        right: 7%;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 2rem;
        cursor: default;
    }
    #safety-line:hover div{
        display:block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }
    #safety-line div{
        height: 14.5rem;
    }

    #safety-line div table{
        height: 160px !important;
    }

    /*    .chart{
            margin-top: 3.2rem;
            height: 15rem;
        }*/
}

.normal{border: 10px solid #2CB86D;}
.normal-info{background-color: #2CB86D;}
.warning{border: 10px solid #F49D34;}
.warning-info{background-color: #F49D34;}
.fault{border: 10px solid red;}
.fault-info{background-color: red;}
.null{background-color: lightgray;/*border: 10px solid lightgray;*/}

body{-ms-overflow-style: none; scrollbar-width: none;}
body::-webkit-scrollbar{display: none;}

@media screen and (min-height: 400px){
    .map_wrap, .map_wrap * {margin:0;padding:0;font-size:12px;}
    .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
    .map_wrap {position:relative;width:100%;height:500px;}
    #menu_wrap {position:absolute;top:0;left:0;bottom:0;width:50%;margin:10px 0 30px 10px;padding:1%;overflow-y:auto;z-index: 1;background-color:#F4F4F4;font-size:12px;border-radius: 10px; text-align: center;}
    #menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
    #menu_wrap .option{text-align: center;}
    #menu_wrap .option p {margin:10px 0;}
    #menu_wrap .option button {margin-left:5px;}

    .weather{margin-left: 1.5rem;}
    #table-weather{height: 120px;}
    #table-btr{height: 75px;}
    .info-table{border: #000 solid 1px !important; background-color: white; text-align: center; width:100%; height: 120px; display: inline-table;}
    .info-table thead tr th{border: darkgray solid 1px; height: 5vh; font-size: medium; background-color: #f2f2f2; }
    .info-table tr td{border: darkgray solid 1px; font-size: small !important;}
    .info-table tbody tr{border: darkgray solid 1px; height: 3vh; font-size: small !important;}
    .info-table tbody tr th{background-color: #f2f2f2; width: 40%; font-size: small !important;}
    .info-table tbody tr td{font-size: small !important;}
}
@media screen and (min-height: 900px){
    .map_wrap, .map_wrap * {margin:0;padding:0;font-size:12px;}
    .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
    .map_wrap {position:relative;width:100%;height:500px;}
    #menu_wrap {position:absolute;top:0;left:0;bottom:0;width:40%;margin:10px 0 30px 10px;padding:1%;overflow-y:auto;z-index: 1;background-color:#F4F4F4;font-size:12px;border-radius: 10px; text-align: center;}
    #menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
    #menu_wrap .option{text-align: center;}
    #menu_wrap .option p {margin:10px 0;}
    #menu_wrap .option button {margin-left:5px;}

    .weather{margin-left: 1.7rem;}
    #table-weather{height: 140px;}
    #table-btr{height: 120px;}
    .info-table{border: #000 solid 1px !important; background-color: white; text-align: center; width:100%; height: 140px; display: inline-table;}
    .info-table thead tr th{border: darkgray solid 1px; height: 5vh; font-size: medium; background-color: #f2f2f2; }
    .info-table tr td{border: darkgray solid 1px; font-size: small;}
    .info-table tbody tr{border: darkgray solid 1px; font-size: medium;}
    .info-table tbody tr th{background-color: #f2f2f2; width: 40%; font-size: medium;}
    .info-table tbody tr td{font-size: small;}
}

#select_b {position:absolute;right: 2%;bottom:0;width:300px;height:300px;margin:10px 0 30px 10px;padding:1%;overflow-y:auto;z-index: 1;background-color:#F4F4F4;font-size:12px;border-radius: 10px; text-align: center;box-shadow: 3px 3px 10px 0px darkgrey;}
#select_b .option{text-align: center;}
#select_b .option p {margin:10px 0;}
#select_b .option button {margin-left:5px;}


#checks {position: relative;}
#checks p {margin-top:1rem;margin-bottom:1rem;margin-left: 20px;}
#checks input[type="radio"] {position: absolute; width: 1px; height: 1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
#checks input[type="radio"] + label {display: inline-block; position:relative; padding-left:40px; cursor:pointer; -webkit-user-select: none;-moz-user-select: none; font-size: medium;}
#checks input[type="radio"] + label:before {content:''; position: absolute; top:1px; left: -1px; width: 20px; height: 20px; border: 1px solid black; text-align: center;}
#checks input[type="radio"] + label:active:before, #checks input[type="radio"]:checked + label:active:before {}
#checks input[type="radio"]:checked + label:before {}
#checks input[type="radio"]:checked + label:after {content:'✔'; position:absolute; top: 0px; left: 3px; width: 10px; height: 10px; font-size: 15px }

.sens{font-size: small;
    text-align: center;
    display: inline-block;}
#login-form{
    width: 500px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    border-color: transparent;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #00A1E2;
    margin-top: 20px;
}

#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label {
    background-repeat: no-repeat;
    background-size: contain;
}

#batnum{
    width: 200px;
    padding: .5em .5em;
    background: url('/asset/images/s-images/arrow.png') no-repeat center right 10px;
    background-size: 20px;
    border: lightgray solid 2px;
    border-radius: 5px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    position: absolute;
    right: 3.5rem;
    margin-top: 3vh;
}

#batnum::-ms-expand{
    display:none;
}

#wrapper {
    display: flex;
}
  
#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}
  
#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}
  
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row {
    flex-basis: 0;
    flex-grow: 1;
    max-height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
  
.card > hr {
margin-right: 0;
margin-left: 0;
}

.card > .list-group {
border-top: inherit;
border-bottom: inherit;
}

.card > .list-group:first-child {
border-top-width: 0;
border-top-left-radius: calc(0.35rem - 1px);
border-top-right-radius: calc(0.35rem - 1px);
}

.card > .list-group:last-child {
border-bottom-width: 0;
border-bottom-right-radius: calc(0.35rem - 1px);
border-bottom-left-radius: calc(0.35rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
border-top: 0;
}

.card-body {
flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
}

.card-title {
margin-bottom: 0.75rem;
}

.card-subtitle {
margin-top: -0.375rem;
margin-bottom: 0;
}

.card-text:last-child {
margin-bottom: 0;
}

.card-link:hover {
text-decoration: none;
}

.card-link + .card-link {
margin-left: 1.25rem;
}

.card-header {
padding: 0.75rem 1.25rem;
margin-bottom: 0;
background-color: #f8f9fc;
border-bottom: 1px solid #e3e6f0;
}

.card-header:first-child {
border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-footer {
padding: 0.75rem 1.25rem;
background-color: #f8f9fc;
border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}

.card-header-tabs {
margin-right: -0.625rem;
margin-bottom: -0.75rem;
margin-left: -0.625rem;
border-bottom: 0;
}

.card-header-pills {
margin-right: -0.625rem;
margin-left: -0.625rem;
}

.card-img-overlay {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
padding: 1.25rem;
border-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
flex-shrink: 0;
width: 100%;
}

.card-img,
.card-img-top {
border-top-left-radius: calc(0.35rem - 1px);
border-top-right-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-bottom {
border-bottom-right-radius: calc(0.35rem - 1px);
border-bottom-left-radius: calc(0.35rem - 1px);
}

.card-deck .card {
margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
.card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
.card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
}
}

.card-group > .card {
margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
.card-group {
    display: flex;
    flex-flow: row wrap;
}
.card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
}
.card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
}
.card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-group > .card:not(:last-child) .card-img-top,
.card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
}
.card-group > .card:not(:last-child) .card-img-bottom,
.card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
}
.card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
}
.card-group > .card:not(:first-child) .card-img-bottom,
.card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
}
}

.card-columns .card {
margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
.card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.card-columns .card {
    display: inline-block;
    width: 100%;
}
}

.accordion {
overflow-anchor: none;
}

.accordion > .card {
overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
border-bottom: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.accordion > .card > .card-header {
border-radius: 0;
margin-bottom: -1px;
}

.text-left {
    text-align: left !important;
}
  
.text-right {
text-align: right !important;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}