<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--<META HTTP-EQUIV="refresh" CONTENT="60">-->
    <title>KED 안전관리플랫폼</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Favicon -->
    <link href="../theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../theme/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../theme/css/style.css?after" rel="stylesheet">

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/ee1626188c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9969c8662ad8d9cbb5042d8b658f586&libraries=services"></script>
</head>

<body style="background: #f3f3f3;">
<div class="container-fluid position-relative d-flex p-0">

    <div id="sidebar"></div>
    <!-- Content Start -->
    <div class="content">
        <div id="navbar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container mt-4 px-5">
                    <div class="row">
                        <div class="col-5">
                            <div class="card h-100">
                                <h6 class="m-3 font-weight-bold text-black-50">내부 환경 정보</h6>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="i_temp" class="bi bi-thermometer-half fs-3 normal"></i>
                                            </div>
                                            <div class="row justify-content-center" id="e_temp">[[${th.data1}]] ℃</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="i_humi" class="bi bi-droplet-half fs-3 normal"></i>
                                            </div>
                                            <div class="row justify-content-center" id="e_humi">[[${th.data2}]] %</div>
                                        </div>
                                        <div>
                                            <table class="table text-center mt-3 align-middle">
                                                <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">온도</th>
                                                    <th scope="col">습도</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><div class="rounded" style="width: 20px; height: 20px; background-color: red;"></div></th>
                                                    <td>36℃ 이상</td>
                                                    <td>70％ 이상</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><div class="rounded" style="width: 20px; height: 20px; background-color: darkorange;"></div></th>
                                                    <td>31℃이상 36℃ 미만</td>
                                                    <td>60％이상 70％ 미만</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><div class="rounded" style="width: 20px; height: 20px; background-color: mediumseagreen;"></div></th>
                                                    <td>31℃ 미만</td>
                                                    <td>60％ 미만</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 ps-5">
                            <div class="card h-100">
                                <h6 class="m-3 font-weight-bold text-black-50">ESS SAFETY STATUS</h6>
                                <div class="card-body text-center">
                                    <img src="../asset/images/s-images/sms.png" style="width: 356px;" class="mb-3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5">
                            <div class="card h-100">
                                <h6 class="m-3 font-weight-bold text-black-50">유해가스</h6>
                                <div class="card-body">
                                    <table class="table text-center fs-6 mt-2 align-middle h-100">
                                        <tbody>
                                        <tr>
                                            <th scope="row">CO2</th>
                                            <td><p class="m-0" id="e_co2">[[${co2.data1}]]</p></td>
                                            <td>ppm</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CO</th>
                                            <td><p class="m-0" id="e_co">[[${co.data1}]]</p></td>
                                            <td>ppm</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">H2</th>
                                            <td><p class="m-0" id="e_h2">[[${h2.data1}]]</p></td>
                                            <td>ppm</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">VOC</th>
                                            <td><p class="m-0" id="e_voc">[[${voc.data1}]]</p></td>
                                            <td>ppm</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 ps-5">
                            <div class="card h-100">
                                <h6 class="m-3 font-weight-bold text-black-50">BATTERY STATUS</h6>
                                <div class="card-body">
                                    <div class="card-body">
                                        <table class="table text-center fs-6 align-middle" style="height: 20vh ;table-layout: fixed">
                                            <tbody>
                                            <tr>
                                                <th scope="row"><img style="width: 40px" src="../asset/images/s-images/volt_icon.png"></th>
                                                <td>전압</td>
                                                <td><p class="m-0" id="e_voltage">[[${bat.voltage}]]</p></td>
                                                <td>V</td>
                                                <th scope="row"><img style="width: 40px;" src="../asset/images/s-images/ampere_icon.png"></th>
                                                <td>전류</td>
                                                <td><p class="m-0" id="e_current">[[${bat.current}]]</p></td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><img style="width: 40px;" src="../asset/images/s-images/charge_icon.png"></th>
                                                <td>충전량</td>
                                                <td><p class="m-0" id="e_charge">[[${bat.charge}]]</p></td>
                                                <td>kWh</td>
                                                <th scope="row"><img style="width: 40px;" src="../asset/images/s-images/discharge_icon.png"></th>
                                                <td>방전량</td>
                                                <td><p class="m-0" id="e_discharge">[[${bat.discharge}]]</p></td>
                                                <td>kWh</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</div>
</div>
<!-- Content End -->

<!-- Back to Top -->
<!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../theme/lib/chart/chart.min.js"></script>
<script src="../theme/lib/easing/easing.min.js"></script>
<script src="../theme/lib/waypoints/waypoints.min.js"></script>
<script src="../theme/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../theme/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- min -->
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Include -->
<script src="../js/include.js"></script>
<!-- Clock -->
<script src="../js/clock.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/sens_data.js"></script>
<script th:inline="javascript">

    function status1() {
        $('#e_temp').load(location.href+' #e_temp');
        $('#e_humi').load(location.href+' #e_humi');

        $.ajax({
            url: "/data1",  // 데이터를 가져올 URL
            success: function(data) {  // 요청이 성공한 경우 호출되는 함수
                var temp = data.data1;  // 받아온 데이터 중 온도 값
                var humi = data.data2;  // 받아온 데이터 중 습도 값

                if(temp >= 36){
                    document.getElementById('i_temp').className = 'bi bi-thermometer-half fs-3 fault';
                }else if(temp < 31){
                    document.getElementById('i_temp').className = 'bi bi-thermometer-half fs-3 normal';
                }else{
                    document.getElementById('i_temp').className = 'bi bi-thermometer-half fs-3 warning';
                }

                if(humi >= 70){
                    document.getElementById('i_humi').className = 'bi bi-droplet-half fs-3 fault';
                }else if(humi < 60){
                    document.getElementById('i_humi').className = 'bi bi-droplet-half fs-3 normal';
                }else{
                    document.getElementById('i_humi').className = 'bi bi-droplet-half fs-3 warning';
                }

            },
            error: function() {  // 요청이 실패한 경우 호출되는 함수
                console.log("데이터를 가져오는 데 실패했습니다.");
            }
        });

    }

    $(document).ready(function() {
        status1();
        setInterval(status1, 5000);
    });

</script>
</body>

</html>