<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--<META HTTP-EQUIV="refresh" CONTENT="60">-->
    <title>KED 안전관리플랫폼</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Favicon -->
    <link href="../theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../theme/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../theme/css/style.css?after" rel="stylesheet">

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/ee1626188c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9969c8662ad8d9cbb5042d8b658f586&libraries=services"></script>
</head>

<body style="background: #f3f3f3;">
<div class="container-fluid position-relative d-flex p-0">

    <div id="sidebar"></div>
    <!-- Content Start -->
    <div class="content">
        <div id="navbar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="row m-0">

                            <!-- Basic Card Example -->
                            <h6 class="m-0 font-weight-bold text-dark mb-3">Zone 1 : Abnormal Battery Storage</h6>
                            <div class="card shadow mb-4">
                                <h6 class="m-3 font-weight-bold text-black-50">온습도</h6>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="temp1" class="bi bi-thermometer-half fs-3 normal"></i>
                                            </div>
                                            <div class="row justify-content-center">[[${th1.data1}]] ℃</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="humi1" class="bi bi-droplet-half fs-3 normal"></i>
                                            </div>
                                            <div class="row justify-content-center">[[${th1.data2}]] %</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h6 class="m-3 font-weight-bold text-black-50">화재감지</h6>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <h6 class="m-3 font-weight-bold normal">미감지 <span class="ms-2 fault"> 감지 </span></h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <img src="../asset/images/s-images/fire_alarm.png" class="w-25">
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="row justify-content-center text-center">
                                            <h6 id="text_fire" class="normal">미감지</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <h6 class="m-3 font-weight-bold text-black-50">오프가스</h6>
                                <div class="card-body">
                                    <div class="row">
                                        <table class="text-center" style="height: 150px">
                                            <tbody>
                                            <tr>
                                                <th scope="row">CO</th>
                                                <td><progress id="co1" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${co1.data1}" min="0" max="500"></progress></td>
                                                <td>[[${co1.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CO2</th>
                                                <td><progress id="co21" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${co21.data1}" min="0" max="3000"></progress></td>
                                                <td>[[${co21.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">H2</th>
                                                <td><progress id="h21" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${h21.data1}" min="0" max="100"></progress></td>
                                                <td>[[${h21.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row m-0">

                            <!-- Basic Card Example -->
                            <h6 class="m-0 font-weight-bold text-dark mb-3">Zone 2 : Abnormal Battery Storage (L)</h6>
                            <div class="card shadow mb-4">
                                <h6 class="m-3 font-weight-bold text-black-50">온습도</h6>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="temp2" class="bi bi-thermometer-half fs-3"></i>
                                            </div>
                                            <div class="row justify-content-center">[[${th2.data1}]] ℃</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="humi2" class="bi bi-droplet-half fs-3"></i>
                                            </div>
                                            <div class="row justify-content-center">[[${th2.data2}]]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h6 class="m-3 font-weight-bold text-black-50">화재감지</h6>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <h6 class="m-3 font-weight-bold normal">미감지<span class="ms-2 fault"> 감지 </span></h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <img src="../asset/images/s-images/fire_alarm.png" class="w-25">
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h6 class="normal">미감지</h6>
                                    </div>
                                </div>
                            </div>


                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <h6 class="m-3 font-weight-bold text-black-50">오프가스</h6>
                                <div class="card-body">
                                    <div class="row">
                                        <table class="text-center" style="height: 150px">
                                            <tbody>
                                            <tr>
                                                <th scope="row">CO</th>
                                                <td><progress id="co2" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${co2.data1}" min="0" max="500"></progress></td>
                                                <td>[[${co2.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CO2</th>
                                                <td><progress id="co22" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${co22.data1}" min="0" max="3000"></progress></td>
                                                <td>[[${co22.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">H2</th>
                                                <td><progress id="h22" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${h22.data1}" min="0" max="100"></progress></td>
                                                <td>[[${h22.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row m-0">

                            <!-- Basic Card Example -->
                            <h6 class="m-0 font-weight-bold text-dark mb-3">Zone 3 : Abnormal Battery Storage (R)</h6>
                            <div class="card shadow mb-4">
                                <h6 class="m-3 font-weight-bold text-black-50">온습도</h6>
                                <i class="position-absolute fs-6 bi bi-question-circle mt-2 safety-th">
                                    <div class="position-absolute">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">온도</th>
                                                <th scope="col">습도</th>
                                            </tr>
                                            <tr>
                                                <td class="fs-5 fault">■</td>
                                                <td>36℃ 이상</td>
                                                <td>70％ 이상</td>
                                            </tr>
                                            <tr>
                                                <td class="fs-5 warning">■</td>
                                                <td>31℃이상 36℃ 미만</td>
                                                <td>60％이상 70％ 미만</td>
                                            </tr>
                                            <tr>
                                                <td class="fs-5 normal">■</td>
                                                <td>31℃ 미만</td>
                                                <td>60％ 미만</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </i>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="temp3" class="bi bi-thermometer-half fs-3"></i>
                                            </div>
                                            <div class="row justify-content-center">[[${th3.data1}]] ℃</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row text-center">
                                                <i id="humi3" class="bi bi-droplet-half fs-3"></i>
                                            </div>
                                            <div class="row justify-content-center">[[${th3.data2}]] %</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4 position-static">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h6 class="m-3 font-weight-bold text-black-50">화재감지</h6>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <h6 class="m-3 font-weight-bold normal">미감지 <span class="ms-2 fault"> 감지 </span></h6>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <img src="../asset/images/s-images/fire_alarm.png" class="w-25">
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h6 class="normal">미감지</h6>
                                    </div>
                                </div>
                            </div>


                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <h6 class="m-3 font-weight-bold text-black-50">오프가스</h6>
                                <i class="position-absolute fs-6 bi bi-question-circle mt-2 safety-line">
                                    <div>
                                        <img src="../asset/images/s-images/status_line.png" style="width: 80%; margin-left: 10%;">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th>CO</th>
                                                <td>300ppm 미만</td>
                                                <td>300ppm ~ 400ppm</td>
                                                <td>400ppm 초과</td>
                                            </tr>
                                            <tr>
                                                <th>CO2</th>
                                                <td>2500ppm 미만</td>
                                                <td>2500ppm ~ 3000ppm</td>
                                                <td>3000ppm 초과</td>
                                            </tr>
                                            <tr>
                                                <th>H2</th>
                                                <td>5ppm 미만</td>
                                                <td>5ppm ~ 100ppm</td>
                                                <td>100ppm 초과 </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </i>
                                <div class="card-body">
                                    <div class="row">
                                        <table class="text-center" style="height: 150px">
                                            <tbody>
                                            <tr>
                                                <th scope="row">CO</th>
                                                <td><progress id="co3" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${co3.data1}" min="0" max="500"></progress></td>
                                                <td>[[${co3.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CO2</th>
                                                <td><progress id="co23" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${co23.data1}" min="0" max="3000"></progress></td>
                                                <td>[[${co23.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">H2</th>
                                                <td><progress id="h23" style="width: 15vw" class="align-middle progress-css progress-normal mb-1" th:value="${h23.data1}" min="0" max="100"></progress></td>
                                                <td>[[${h23.data1}]]</td>
                                                <td>ppm</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
        </div>

    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../theme/lib/chart/chart.min.js"></script>
<script src="../theme/lib/easing/easing.min.js"></script>
<script src="../theme/lib/waypoints/waypoints.min.js"></script>
<script src="../theme/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../theme/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Include -->
<script src="../js/include.js"></script>
<!-- Clock -->
<script src="../js/clock.js"></script>
<script src="../js/sens_data.js"></script>
<script th:inline="javascript">

    let val = [[${event.event}]];

    function change_fire(){
        if(val == 1){
            document.getElementById('text_fire').innerText = "감지"
            document.getElementById('text_fire').className = 'fault';
        }else{}
    }
    $(document).ready(change_fire());
</script>
<script th:inline="javascript">
    let temp1 = [[${th1.data1}]];
    let humi1 = [[${th1.data2}]];
    let temp2 = [[${th2.data1}]];
    let humi2 = [[${th2.data2}]];
    let temp3 = [[${th3.data1}]];
    let humi3 = [[${th3.data2}]];

    function statusth(){

        if(temp1 >= 36){
            document.getElementById('temp1').className = 'bi bi-thermometer-half fs-3 fault';
        }else if(temp1 < 31){
            document.getElementById('temp1').className = 'bi bi-thermometer-half fs-3 normal';
        }else{
            document.getElementById('temp1').className = 'bi bi-thermometer-half fs-3 warning';
        }

        if(humi1 >= 70){
            document.getElementById('humi1').className = 'bi bi-droplet-half fs-3 fault';
        }else if(humi1 < 60){
            document.getElementById('humi1').className = 'bi bi-droplet-half fs-3 normal';
        }else{
            document.getElementById('humi1').className = 'bi bi-droplet-half fs-3 warning';
        }

        if(temp2 >= 36){
            document.getElementById('temp2').className = 'bi bi-thermometer-half fs-3 fault';
        }else if(temp2 < 31){
            document.getElementById('temp2').className = 'bi bi-thermometer-half fs-3 normal';
        }else{
            document.getElementById('temp2').className = 'bi bi-thermometer-half fs-3 warning';
        }

        if(humi2 >= 70){
            document.getElementById('humi2').className = 'bi bi-droplet-half fs-3 fault';
        }else if(humi2 < 60){
            document.getElementById('humi2').className = 'bi bi-droplet-half fs-3 normal';
        }else{
            document.getElementById('humi2').className = 'bi bi-droplet-half fs-3 warning';
        }

        if(temp3 >= 36){
            document.getElementById('temp3').className = 'bi bi-thermometer-half fs-3 fault';
        }else if(temp3 < 31){
            document.getElementById('temp3').className = 'bi bi-thermometer-half fs-3 normal';
        }else{
            document.getElementById('temp3').className = 'bi bi-thermometer-half fs-3 warning';
        }

        if(humi3 >= 70){
            document.getElementById('humi3').className = 'bi bi-droplet-half fs-3 fault';
        }else if(humi3 < 60){
            document.getElementById('humi3').className = 'bi bi-droplet-half fs-3 normal';
        }else{
            document.getElementById('humi3').className = 'bi bi-droplet-half fs-3 warning';
        }

    }
    $(document).ready(statusth());
</script>
</body>

</html>